/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

html{
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background-color: rgba(10, 25, 47, 0.85);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
  color: #e5e5e5;;
}
h2 {
  font-size: 2rem;
  color: #93acb5;
}
h3 {
  font-size: 1.25rem;
  color: #e5e5e5;
}
h4 {
  font-size: 0.875rem;
}
h5{
    color: #e5e5e5;
}
p {
  margin-bottom: 1.25rem;
  color: #93acb5;
}
span{
    color: #02c39a;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  background-color: rgba(10, 25, 47, 0.85);
}

/*
=============== 
Navbar
===============
*/
nav {
background-color: rgba(10, 25, 47, 0.85);
box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: #e5e5e5;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: #02c39a;
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}

/*About Me */

.intro-container{
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 80%;
}

.intro-container p{
    max-width: 60%;
    font-size: 1rem;
}

.about{
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.learning-now{
    margin-top: 3rem;
}

.work{
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.work label{
    font-size: 0.6rem;
    text-align: center;
    color: red;
}
.projects{
    display: none;
    
}
.projects-true{
    display: block;
}
.project-card{
    background-color: #e5e5e5d0;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}
.project-card:hover{
  transform: scale(0.9);
}
.project-card h5{
    color: var(--clr-black);
    font-size: 1rem;
    font-weight: bold;
}
.project-card a{
    background-color: #02c39a;
    color: #e5e5e5;
    border: 1px solid #02c39a;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.project-card a:hover{
    opacity: 0.7;
}  

.project-card img{
  max-width: 100%;
  margin: 1rem 0;
}

.expand-projects{
    float: right;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.contact{
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .contact-container{
    margin: 0 auto;
    max-width: 60%;
    padding: 5rem 0;
    text-align: center;
  }
  .contact-container a{
    background-color: inherit;
    color: #02c39a;
    border: 1px solid #02c39a;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  .contact-container a:hover{
    background-color: #02c39a;
    color: #e5e5e5;
  }

  .footer{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(10, 25, 47, 0.85);
    color: #e5e5e5;
  }

  .footer p{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

@media (min-width: 600px){
    .projects{
        display: none;
        
    }
    .projects-true{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 992px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }

  .about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
  .skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #skills img:hover{
    transform: scale(0.7);
    cursor: pointer;
  }
  .projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .expand-projects{
    display: none;
  }
}

@media (min-width: 1200px){
    .projects{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        visibility: visible;
    }
      
}