body{
    margin: 0;
    background-color: #e6e6e6;
}

.center{
    text-align: center;
    border: 1px solid #999999;
    border-radius: 20px;
    margin-top: 10%;
    background-color: #999999;
    padding: 2%;
    width: 90%;
    margin-left: 3%;
}

.main-header{
    font-size: 35px;
    color: white;
}

.contact-box{
    width: 80%;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 5px 2%;
    margin-bottom: 1%;
    text-align: center;
}

.contact-message{
    width: 84%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
}

.contact-submit{
    margin-top: 2%;
    padding: 1% 2%;
    width: 40%;
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 10px;
}

.contact-submit:hover{
    color: black;
    background-color: #fff;
    border: 1px solid #000000;
    transition: all 0.8s ease;
}

@media screen and (max-width : 900px) {
    .center{
        margin-top: 20%;
    }
}

@media screen and (max-width : 600px) {
    .center{
        margin-top: 40%;
    }
}