.car-preview{
    background-color: #e5e5e5d0;
    margin: 0 auto;
    padding: 1rem 0;
}

.car-img{
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
}

.car-img img{
    width: 80%;
}

.car-details{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: left;

}

.align-left{
    justify-content: flex-start;
}

.reserve-container{
    margin: 5rem auto;
    text-align: right;
}

.reserve-btn{
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.reserve-btn:hover{
    background-color: rgba(10, 25, 47, 0.85);
    color: white;
}

.book-container{
    display: none;
    max-width: 100%;
    margin: 1rem auto;
    padding: 0;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(10, 25, 47, 0.85);
    color: white;
}

.book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.book-input{
    max-width: 30%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.book-submit{
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 1px solid #02c39a;
    border-radius: 0.5rem;
    background-color: inherit;
    color: white;
    cursor: pointer;
}



@media(min-width: 900px){
    .car-preview{
        display: flex;
    }  
    .car-img{
        text-align: right;
        width: 80%;
    }
    .car-details{
        width: 80%;
    }

    .book-container{
        max-width: 50%;
    }
}

@media(min-width: 1200px){
    .car-img{
        width: 50%;
    }
    .car-img img{
        max-width: 50%;
    }
    
}