@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    background-color: rgba(10, 25, 47, 0.85);
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

span{
    color: rgb(0, 170, 0);
}

input{
    padding: 1rem;
    margin: 0.5rem auto;
    
}

input:focus{
    outline: none;
}

textarea{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: rgba(10, 25, 47, 0.85);
    color: white;

}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.links{
    display: none;
}

.links a{
    display: block;
}

.links a:hover {
    background: var(--clr-primary-8);
    color: #02c39a;
}

.links li{
    padding: 0.5rem 5%;
}

.nav-login{
    display: none;
    padding: 1rem;
}

.nav-login a:hover{
    color: #02c39a;
}

.cart-flex{
    display: flex;
    flex: row;
}

.cart-flex p{
    margin-top: -0.1rem;
    color: orange;
}

.display-messages{
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    display: none;
    background-color: rgba(255, 255, 255, 0.788);
}

.modal{
    max-width: 100%;
    margin: 10rem auto;
    padding: 2rem 0;
    text-align: center;
    display: none;
}

.login{
    display: block;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(10, 25, 47, 0.85);
    border-radius: 1rem;
}


.sign-up{
    display: none;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(10, 25, 47, 0.85);
    border-radius: 1rem;
}

.login a{
    color: rgba(10, 25, 47, 0.85);
}

.sign-up a{
    color: rgba(10, 25, 47, 0.85);
}

.form{
    border: 1px solid rgba(10, 25, 47, 0.85);
    margin: 0 auto;
    padding: 1rem 0;
}

.submit-form{
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: aqua;
    color: black;
    border: 1px solid aqua;
    cursor: pointer;
}

.form-error{
    color: red;
}

.form-success{
    color: green;
}

.shadow-error{
    max-width: 20%;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
}

.main{
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 4rem;
    padding-bottom: 10rem;
    color: white;
    background-color: black;
    background-image: url("../images/porsche.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-paragraph{
    text-align: center;
}

.read-more{
    background-color: rgb(248, 54, 54);
    color: white;
    border: 1px solid rgb(248, 54, 54);
    padding: 1% 3%;
    cursor: pointer;
}

.about-us{
    max-width: 80%;
    text-align: center;
    color: white;
    margin: 2rem auto;
}

.car-section{
    max-width: 80%;
    text-align: center;
    color: white;
    margin: 2rem auto;
}

.cars-container{
    padding: 0 auto;
    border-radius: 0.5rem;
}

.car-card{
   padding: 2rem 0;
   margin: 2rem 1rem;
   border: 1px solid #e5e5e5d0;
   border-radius: 1rem;
   background-color: #e5e5e5d0;
   color: black;
}

.car-specs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 6rem;
}

.add{
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: rgb(248, 54, 54);
    color: white;
    border: 1px solid rgb(248, 54, 54);
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact{
    max-width: 70%;
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: center;
    background-color: inherit;
    color: #e5e5e5d0;
    border: 1px solid;
    border-radius: 0.5rem;
}

.contact-form{
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-btn{
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    background-color: inherit;
    color: #e5e5e5d0;
    border: 1px solid #02c39a;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact-form-btn:hover{
    background-color: #02c39a;
    border: 1px solid inherit;
    color: black;
}

/* Admin Panel*/

/* Login */

.admin-login{
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #e5e5e5d0;
    color: black;
}

.admin-form{
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.479);
    border-radius: 0.5rem;
}

.admin-submit{
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Home */

.admin-panel{
    max-width: 90%;
    margin: 1rem auto;
    text-align: center;
    background-color: #e5e5e5d0;
    color: black;
    border: 1px solid #e5e5e5d0;
}

.admin-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}


th{
    border: 1px solid black;
    margin: 2rem;
    padding: 0.5rem 1rem;
}

th a{
    color: black;
}

.btn-available{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.available{
    background-color: green;
    color: white;
    border: 1px solid green;

}

.not-available{
    background-color: red;
    color: white;
    border: 1px solid red;

}

.settings{
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.admin-car{
    max-width: 80%;
    margin: 1rem auto;
    padding: 2rem;
}

.admin-car-change{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    background-color: #e5e5e500;
    border: 1px solid black;
}

.admin-car-change input{ 
    padding: 0.5rem 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
}

.admin-car-change p{
    margin: 0 1rem;
    font-weight: 500;
    font-size: 1.25rem;
}

.admin-car-change-submit{
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.admin-car-change-submit button{
    padding: 1rem;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media(min-width: 900px){
    .cars-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-center{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 10%;
    }
    .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0 5%;
        width: 100%;
    }
    .nav-toggle{
        display: none;
    }
    .nav-header{
        padding: 0;
    }
    .nav-login{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .cart-flex{
        justify-content: center;
        align-items: center;
    }
    .cart-item{
        display: inline-block;
    }
    .contact-inputs{
        display: flex;
        gap: 2rem;
    }
    .contact-form-btn{
        width: 20%;
        margin-top: 1.5rem;
    }
    textarea{
        max-width: 35%;
    }
}
@media(min-width: 1440px){
    .cars-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

